* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none !important;
  background-color: transparent;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

nav {
  background-color: #222121;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Acme;
  word-spacing: 6px;
}

.app {
  width: 400px;
  height: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.input-container {
  height: 10%;
  background-color: #222121;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  height: 30px;
  width: 60%;
  padding: 10px;
  font-weight: 600;
  border: none;
  outline: none;
}

.add-item-btn {
  color: #fff;
  height: 30px;
  padding: 4px 20px;
  border-radius: 20px;
}

.add-item-btn:hover {
  background-color: #fff;
  color: #222121;
}

.item-list {
  height: 90%;
  margin-top: 10px;
  overflow-y: auto;
}

.task {
  height: 50px;
  /* border-radius: 10px; */
  background-color: #e7e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}

.task-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin-left: 10px;
}

.remove {
  color: #087a4b;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove:hover {
  background-color: #087a4b;
  color: #fff;
}